<table border="0" cellpadding="0" cellspacing="10" class="info margin-left-10px"><tbody>
  <tr>
    <td>
      <p>Bonjour,</p>
      <p>Veuillez confirmer votre email :</p>
    </td>
  </tr>
  <tr>
    <td class="btn btn-primary">
      <%= link_to 'Je confirme mon email', update_status_confirmed_request_url(@request), target: :_blank %>
    </td>
  </tr>
</tbody></table>
