<div class="flex flex-column justify-content-around">
  <h4 class="text-center  m-5">
    Votre inscription sur la liste d'attente a bien été prise en compte.
  </h4>
  <div class="text-center">
      <%= link_to "Nouvelle inscription", new_request_path, class: "btn btn-primary" %>
  </div>
</div>
